*/**/.terraform
*/**/terraform.tfvars
k3s/scripts/inventory/*.yaml
infra/docker/ansible/inventory/*.yaml

infra/**/inventory/*.yaml
infra/**/inventory/*.yml

*/**/.env
apps/docker/traefik/config.yml
apps/docker/traefik/traefik.yml
apps/docker/traefik/acme.json
apps/k3s/cert-manager/certificates/production-certificate.yaml
apps/k3s/cert-manager/issuer/cloudflare-issuer-secret.yaml
apps/k3s/cert-manager/issuer/cluster-issuer.yaml
